body {
  font-family: sans-serif;
  }

  h2 {
    font-weight: normal;
  }
  
  h3 {
    font-weight: normal;
  }

  em {
    background-color: yellow;
  }

  strong {
    color: red;
  }

  p strong {
    color: coral;
  }